{% load static from staticfiles %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}Hola {% endblock title %}</title>
    <link rel="stylesheet" href="{% static "css/bootstrap.min.css"%}">
    {% block css %}{% endblock css%}
</head>
<body>
    
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">Carlinhus Steam</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          {% if user.is_authenticated %}
            <div class="navbar-right navbar-brand">
              Bienvenido, {{ user.username }} &nbsp;<a href="{% url 'django.contrib.auth.views.logout' %}?next={{ request.path }}">Cerrar sesión</a>
            </div>
          {% else %}

          <form class="navbar-form navbar-right" method="post" action="{% url 'django.contrib.auth.views.login' %}">
            {% csrf_token %}
            <div class="form-group">
              <input type="text" placeholder="Usuario" class="form-control" id="id_username" name="username">
            </div>
            <div class="form-group">
              <input type="password" placeholder="Contraseña" class="form-control" id="id_password" name="password">
              <input type="hidden" name="next" value="{{ request.path }}" />
            </div>
            <button type="submit" class="btn btn-success">Entrar</button>
          </form>
          {% endif %}
        </div><!--/.navbar-collapse -->
      </div>
    </nav>
    <div class="container-fluid" style="margin-top:60px;">
    {% block content %} {% endblock content %}
    </div>
    <script src="{% static "js/jquery.js" %}"></script>
    <script src="{% static "js/bootstrap.min.js" %}"></script>
    {% block js %}{% endblock js %}
</body>
</html>